$mobile: "screen and (max-width: 480px)";
$phone: "screen and (max-width: 767px)";
$tablet: "screen and (max-width: 991px)";
$desktop: "screen and (max-width: 1199px)";
$laptop: "screen and (max-width: 1439)";

$large: "screen and (max-width: 1599px)";
$fullHD: "screen and (max-width: 1920px)";
$uHD: "screen and (max-width: 2600px)";